
@model LogConfirmationModel
@{
    GlobalFunction f = new GlobalFunction();
}

@if (Model.Error != null)
{
    @await Html.PartialAsync("Error", Model.Error)

}

<table id="myTable"
       class="display no-wrap table table-hover table-striped table-bordered compact"
       cellspacing="0">
    <thead class="bg-dark text-light" style="font-family:Calibri;font-size:small;">
        <tr>
            <th width="30">no</th>
            <th style="text-align:center;">NO.ID Transaction</th>
            <th style="text-align:center;">Create Date</th>
            <th style="text-align:center;">Nama Penyewa</th>
            <th style="text-align:center;">Qty</th>
            <th style="text-align:center;">Total Sewa</th>
            <th style="text-align:center;">Status Confirm</th>
            <th style="text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody style="font-size:small;font-family:Calibri;">
        @{
            int a = 0;
            decimal GrandTotal = 0;
            if(Model.ListData!= null)
            { 
            foreach (var item in Model.ListData)
            {
                a++;
                <tr>
                    <td nowrap align="center">@a</td>
                    <td nowrap align="center">@item.IdTrx</td>
                    <td nowrap align="left">@item.CreateDate</td>
                    <td nowrap align="left">@item.NamaPenyewa</td>
                    <td nowrap align="center">@item.Qty</td>
                    <td nowrap align="right">@item.TotalSewa</td>

                    @{ 
                        GrandTotal = GrandTotal + item.TotalSewa.toDecimal();
                    }

                    <td nowrap align="left">
                        @{

                            @if (item.StatusConfirm == 0)
                            {
                                <div class="badge badge-success">Menunggu Pembayaran</div>
                            }
                        }
                    </td>
                    <td nowrap align="center" width="30">
                        <button title="Edit"
                                class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill"
                                onclick="showInPopup('@Url.Action("KonfirmasiTransaksi_FormPembayaran","Sewa",new { id=item.IdTrx},Context.Request.Scheme)','Form Pembayaran')">
                            <i class="fa fa-edit text-info"></i>
                        </button>
                    </td>
                </tr>

                                }
            }
        }
    </tbody>
    <tfoot style="font-size:small;font-family:Calibri;">
        <tr>
            <td align="center" colspan="5">Grand Total</td>
            <td align="right">@GrandTotal.ToString().toNumber()</td>
            <td align="center" colspan="2"></td>
        </tr>
    </tfoot>
</table>

<script type="text/javascript">
    $(function () {
        var collapsedGroups = {};
        var table = $('#myTable').DataTable({
            "info": false,
            "scrollX": false,
            "autoWidth": false,
            "paging": false,
            scrollY: "50vh",
            scrollX: !0,
            scrollCollapse: !0,
            iDisplayLength: 100,
            searching: false,
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'pdfHtml5',
                'copyHtml5',
                'csvHtml5'

            ]
        });
    });

    TransaksiPeminjaman_Checkout = form => {
        Swal.fire({
            title: 'Apakah anda yakin melakukan Checkout ?',
            text: 'Total Transaksi sebesar Rp @GrandTotal.ToString().toNumber()',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, pay it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $(".preloader").fadeIn();
                try {
                    $.ajax({
                        type: 'POST',
                        url: form.action,
                        data: new FormData(form),
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            console.log(res);
                            if (res.isValid) {
                                $(".preloader").fadeOut();
                                Swal.fire(
                                    'Checkout ' + res.title + '!',
                                    '' + res.message + ' Rp ' + res.total,
                                    'success'
                                )
                                $('#TransaksiPeminjaman_Search').submit();
                            }
                            else {
                                $(".preloader").fadeOut();
                                $.notify('Sorry ' + res.message, { globalPosition: 'top center', className: 'warning' })
                            }
                        },
                        error: function (err) {
                            $.notify('Sorry ' + err.responseText, { globalPosition: 'top center', className: 'warning' });
                        }
                    })
                } catch (ex) {
                    $.notify('Sorry ' + ex.message, { globalPosition: 'top center', className: 'warning' });
                }
            }
        });
        $(".preloader").fadeOut();
        //prevent default form submit event
        return false;
    }

</script>