
@model SummaryHarianModel
@{
    GlobalFunction f = new GlobalFunction();
}

@if (Model.Error != null)
{
    @await Html.PartialAsync("Error", Model.Error)

}

<table id="myTable"
       class="display no-wrap table table-hover table-striped table-bordered compact"
       cellspacing="0">
    <thead class="bg-dark text-light" style="font-family:Calibri;font-size:small;">
        <tr>
            <th width="30">no</th>
            <th style="text-align:center;">Tanggal Transaksi</th>
            <th style="text-align:center;">Nama Penyewa</th>
            <th style="text-align:center;">Total Buku</th>
            <th style="text-align:center;">Total Sewa</th>
            <th style="text-align:center;">Nama Kasir</th>
            <th style="text-align:center;">Pembayaran</th>
            <th style="text-align:center;">Uang Kembalian</th>
        </tr>
    </thead>
    <tbody style="font-size:small;font-family:Calibri;">
        @{
            int a = 0;
            decimal GrandTotal = 0;
            foreach (var item in Model.Listdata)
            {
                a++;
                <tr>
                    <td nowrap align="center">@a</td>
                    <td nowrap align="left">@item.TanggalTransaksi</td>
                    <td nowrap align="left">@item.NamaPenyewa</td>
                    <td nowrap align="left">@item.TotalBuku</td>
                    <td nowrap align="right">@item.TotalSewa.toNumber().Replace(".", ",")</td>
                    <td nowrap align="left">@item.NamaKasir</td>
                    <td nowrap align="right">@item.KasirTerimaUang.toNumber().Replace(".", ",")</td>
                    <td nowrap align="right">@item.UangKembalian.toNumber().Replace(".", ",")</td>
                </tr>

                GrandTotal = GrandTotal + item.TotalSewa.toDecimal();
            }
        }
    </tbody>
    <tfoot style="font-size:small;font-family:Calibri;">
        <tr>
            <td align="center" colspan="4" style="font-weight:bold;">Grand Total</td>
            <td align="right" style="font-weight:bold;">@GrandTotal.ToString().toNumber().Replace(".",",")</td>
            <td align="center" colspan="3" style="font-weight:bold;"></td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(function () {
        var collapsedGroups = {};
        var table = $('#myTable').DataTable({
            "info": false,
            "scrollX": false,
            "autoWidth": false,
            "paging": false,
            scrollY: "50vh",
            scrollX: !0,
            scrollCollapse: !0,
            iDisplayLength: 100,
            searching: false,
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'pdfHtml5',
                'copyHtml5',
                'csvHtml5'
                
            ]
        });
    });
</script>